.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* .react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
} */


.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #fff;
  cursor: default;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
  abbr {
    text-decoration: none;
  }
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}


.react-calendar__month-view__days__day--neighboringMonth {
  color: #D9D9D9;
}


/* 날짜 하나 스타일링 */
.react-calendar__tile {
  padding: 4px;
  abbr {
    display: block;
    border: 1px solid #09CF83;
    padding: 6px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 auto;
  }
  &--now {
    background-color: #fff;
    abbr {
      border-radius: 50%;
      color: #09CF83;
    }
  }
}

/* 날짜 클릭시 배경색 폰트색 변경 */
.react-calendar__tile--active abbr {
  background-color: #09CF83;
  color: #fff;
};


/* 비활성화된 날짜 스타일 */
.react-calendar__tile:disabled {
  /* background-color: #fff; */
  cursor: default;
  abbr {
    color: #D9D9D9;
    border: 0;
  }
}

.react-calendar__tile:disabled abbr {
  border: 0;
}

.react-calendar--selectRange .react-calendar__tile--hover abbr {
  background-color: #D9D9D9;
  color: black;
}
